* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: hsl(233, 47%, 7%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.overall-details {
  padding: 1.5rem;
}
.details {
  display: flex;
  max-width: 1100px;
  background: hsl(244, 37%, 16%);
  border-radius: 0.5rem;
  overflow: hidden;
}

.intro {
  flex: 1;
  padding: 3rem;
  color: hsl(0, 0%, 100%);
}

.intro h1 {
  font-size: 2.2rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  max-width: 450px;
}

.intro h1 span {
  color: hsl(277, 64%, 61%);
}

.intro p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
  margin-bottom: 3rem;
  max-width: 400px;
  padding: 1rem;
}

.companystatistics {
  display: flex;
  gap: 3rem;
}

.companystatistics h2 {
  font-size: 1.5rem;
}

.companystatistics span {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.img {
  position: relative;
  width: 50%;
}

.img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(160 19 249 / 60%);
}

@media (max-width: 700px) {
  .details {
    flex-direction: column-reverse;
    text-align: center;
  }
  .overall-details {
    width: 100%;
  }

  .intro {
    padding: 1rem;
  }

  .intro p {
    margin: 0 auto 2.5rem;
    padding: 0.5rem;
  }

  .companystatistics {
    flex-direction: column;
    gap: 1.5rem;
  }

  .img {
    width: 100%;
    min-height: 250px;
  }
}
