* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: hsl(233, 47%, 7%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.overall-details {
  display: flex;
  max-width: 1000px;
  width: 100%;
  background-color: hsl(244, 37%, 16%);
  border-radius: 0.5rem;
  overflow: hidden;
  flex-direction: row;
}

.details {
  flex: 1;
  padding: 3.8rem 3.4rem 3.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  font-family: sans-serif;
  font-size: 35px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.insights {
  color: hsl(277, 64%, 61%);
}

.description {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 4.4rem;
  letter-spacing: 1px;
}

.companystatistics {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
}
.stat-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.number {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.info {
  font-family: sans-serif;
  font-size: 0.75rem;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 0.3rem;
  text-transform: uppercase;
}

.image {
  flex: 1.2;
  position: relative;
  background-color: hsl(277, 64%, 61%);
}

.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(277, 64%, 61%);
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  body {
    padding: 88px 24px;
  }
  .overall-details {
    flex-direction: column-reverse;
    max-width: 330px;
  }

  .image {
    height: 240px;
  }
  .picture {
    content: url("image-header-mobile.jpg");
  }
  .details {
    padding: 40px 30px;
    text-align: center;
  }

  .intro {
    font-size: 28px;
    line-height: 1.15;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 15px;
    line-height: 1.67;
    margin-bottom: 30px;
  }
  .companystatistics {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  .number {
    font-size: 1.5rem;
  }
}
